@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Assistant, sans-serif;
    font-weight: 300;
    color: grey;
}

/* headings and logo*/

h1 {
    font-family: Abril Fatface;
    color: #545050;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 300%;
}

#navigation {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo, #navigation {
    line-height: 100px;
}

#navigation li {
    float: right;
    list-style-type: none;
    padding-right: 15px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #545050;
}

/* hero image*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url("https://i.imgur.com/YYuSnPk.jpg") no-repeat center center;
    background-color: #1D9CF3;
}