@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Assistant, sans-serif;
    font-weight: 300;
    color: grey;
}

/* headings and logo*/

h1 {
    font-family: Abril Fatface;
    color: #545050;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

#navigation {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo, #navigation {
    line-height: 100px;
}

#navigation li {
    float: right;
    list-style-type: none;
    padding-right: 15px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #545050;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: whitesmoke;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url("https://i.imgur.com/YYuSnPk.jpg") no-repeat center center;
    background-color: white;
    transition: background-color 1s linear;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image:hover {
    
    background-color: #1D9CF3; 
}

/*amimation for hero image zoom*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Assistant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 250px;
    height: 250px;

    padding-top: 50px;
    padding-left: 15px;

    background-color: rgb(243, 137, 29, 0.6);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

.abrilfont {
    font-family: Abril Fatface, sans-serif;
    font-size: 200%;
}

/*about me section*/

#aboutme {
    height: 450px;
    text-align: center;
}

#aboutleft {
    padding: 20px;
    width: 33%;
    float: left;
    transition: background-color 1s linear;
}

#aboutleft:hover {
    background-color: rgb(243, 238, 29, 0.3);
}

#aboutright {
    padding: 20px;
    width: 33%;
    float: right;
    transition: background-color 1s linear;
}

#aboutright:hover {
    background-color: rgb(243, 238, 29, 0.3);
}

#aboutcenter {
    width: 33%;
    margin: 0 auto;
    height: 70%;
    width: 100%;    
    background: url("https://bestanimations.com/media/color-full-earth/152469542globe-earth-animation-15-2.gif") no-repeat center center;
}