@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Assistant, sans-serif;
    font-weight: 300;
    color: grey;
    flex-grow: 1;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* headings and logo*/

h1 {
    font-family: Abril Fatface;
    color: #545050;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 300%;

}

#navigation {
    font-size: 110%;
    letter-spacing: 2px;
}

#logo, #navigation {
    line-height: 100px;
}

#navigation li {
    float: right;
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #545050;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: whitesmoke;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url("https://i.imgur.com/KGQ9aNU.jpg") no-repeat center center;
    background-color: white;
    transition: background-color 1s linear;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-image:hover {
    
    background-color: rgb(0, 151, 255,0.5); 
}

/*amimation for hero image zoom*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Assistant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 250px;
    height: 250px;

    padding-top: 50px;
    padding-left: 15px;

    background-color: rgb(243, 137, 29, 0.6);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

.abrilfont {
    font-family: Abril Fatface, sans-serif;
    font-size: 200%;
}

/* about me section*/

#aboutme {
    text-align: center;
    height: 500px;
    position: relative;
    overflow-y: scroll;
}

#abouttitle {
    text-align: center;
}

#aboutleft {
    padding: 20px;
    transition: background-color 1s linear;
    border-radius: 8px;
    float: left;
}

#aboutleft:hover {
    background-color: rgb(243, 238, 29, 0.3);
}

#aboutright {
    padding: 20px;
    transition: background-color 1s linear;
    border-radius: 8px;
    float: right;
}

#aboutright:hover {
    background-color: rgb(243, 238, 29, 0.3);
}

#aboutcenter {
    margin: 0 auto;
    height: 400px;
    background: url("https://bestanimations.com/media/color-full-earth/152469542globe-earth-animation-15-2.gif") no-repeat center center;
}

/* work and education*/

#workandeducation {
    text-align: center;
    background: url("https://i.imgur.com/lFhvP0h.jpg") center center / cover no-repeat fixed;
    height: 600px;
    position: relative;
}

#wetitle {
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid grey;
}

#mywork {
    float: left;
    text-align: center;
    width: 35%;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 8px;
    margin-left: 20px;
    border: 1px solid grey;
    margin-top: 50px;
    }

    .bold {
        font-weight: bold;
    }
    
    #work2 {
        height: 340px;
        overflow-y: scroll;
        text-align: left;
        padding: 10px;
        margin-left: 10px;
    }

    #myeducation {
        float: right;
        text-align: center;
        height: 400px;
        width: 35%;
        background-color: whitesmoke;
        border-radius: 8px;
        margin-right: 20px;
        margin-top: 50px;
        border: 1px solid grey;
    }
    
    #education2 {
        width: 95%;
        height: 340px;
        overflow-y: scroll;
        text-align: left;
        padding: 10px;
        margin-left: 10px;
    }

    /*qualifications photos*/

#qualifications {
    width: 100%;
    height: 800px;
    position: relative;
}

#teflphoto {
    height: 80%;
    border-radius: 8px;
    background: url("https://i.imgur.com/urMqEey.png"), center center;
    background-size: cover;    
    opacity: 25%;
    transition: 2s;
}

#teflphoto:hover {
    opacity: 100%;
    transition: 2s;
}

#codephoto {
    height: 60%;

    border-radius: 8px;
    background: url("https://i.imgur.com/Xlyqd0l.png") center center, no-repeat;
    background-size: cover;
    opacity: 25%;
    transition: 2s;
}

#codephoto:hover {
    opacity: 100%;
    transition: 2s;
}

#collegephoto {
    height: 80%;

    border-radius: 8px;
    float: right;
    background: url("https://i.imgur.com/D8xx7ZC.jpg") center center, no-repeat;
    background-size: cover;
    opacity: 25%;
    transition: 2s;
}

#collegephoto:hover {
    opacity: 100%;
    transition: 2s;
}

/* get in contact*/

.centertext {
    text-align: center;
}

#getincontact {
    height: 450px;
    position: relative;
}

input {
    border: 2px solid grey;
    font-size: large;
}

textarea {
    border: 2px solid grey;
    font-size: large;
}

/* interests and hobbies section */

#interestsandhobbies {
    height: 700px;
    position: relative;
    text-align: center;
}

#intereststitle {
    height: 10%;
    color: grey;

    text-align: center;
    border: 1px solid grey;
    border-radius: 8px;
}

#exercise {
    height: 80%;
    border: 1px solid grey;
    border-radius: 8px;
    float: left;

    background-image: url("https://i.imgur.com/XaTG5tM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#gaming {
    height: 80%;
    color: black;
    border: 1px solid grey;
    border-radius: 8px;
    margin: auto;

    background-image: url("https://i.imgur.com/tj3ryve.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#va {
    height: 80%;
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: 8px;
    float: right;

    background-image: url("https://i.imgur.com/Sot4kEI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.textlarger {
    font-size: x-large;
    text-align: center;
}

/* footer */

footer {
    height: 150px;
    float: right;
}

footer li {
    list-style: none;
    margin-left: 20%;
}













@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }